<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>程永明的小站</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>程永明的小站</title>
    <link th:href="@{~/css/main.css}" rel="stylesheet" type="text/css"></link>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<div class="all-screen" id="div-for-computer">
    <img src="https://images.chengym.cc/imgforcom.jpg" />
</div>
<div class="div-for-phone" id="div-for-phone">
    <img src="https://images.chengym.cc/imgforphone.jpg" />
</div>
</body>
</html>