<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>程永明的小站</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>程永明的小站</title>
    <link th:href="@{~/css/main.css}" rel="stylesheet" type="text/css"></link>
</head>
<body>
<!--/*@thymesVar id="name" type="java.lang.String"*/-->
<div class="all-screen">
    <video th:width="1000px" th:controls="controls">
        <source th:src="@{/video/0325.mp4}" type="video/mp4" >
        </source>
    </video>
</div>

</body>
</html>